# Ignore authorization token (sensitive data)
auth.json

# Ignore giant node_modules directory, instead use package-lock.json
node_modules

# Ignore the constant updates to members' points
info.json

# Ignore audio files
*.mp3 

